

  <p>
    <div class="row">
      <div class="col-md-2 col-md-offset-5" > 
        <%= form.label :photos %><br>
        <%= form.file_field :photos, multiple: true %>
      </div>
    </div>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :price_per_night %><br>
    <%= form.number_field(:price_per_night, in: 1.0..5000.0, step: 0.5)%>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>

  <p>
    <%= form.label :room_type %><br>
    <%= form.radio_button :room_type, "Entire Home" %>
    <%= label :room_type_entire_home, "Entire Home" %>&nbsp;&nbsp
    <%= form.radio_button :room_type, "Private Room" %>
    <%= label :room_type_private_room, "Private Room" %>&nbsp;&nbsp
    <%= form.radio_button :room_type, "Shared Room" %>
    <%= label :room_type_shared_room, "Shared Room" %>
  </p>

  <p>
    <%= form.label :guest_capacity %><br>
    <%= form.number_field(:guest_capacity, in: 1..16) %>
  </p>

  <p>
    <%= form.submit class: "btn btn-primary" %>
  </p>



<br>