 <%= form_for @listing do |f| %>

  <p>
    <div class="row">
      <div class="col-md-2 col-md-offset-5" > 
        <%= f.label :photos %><br>
        <%= f.file_field :photos, multiple: true %>
      </div>
    </div>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :price_per_night %><br>
    <%= f.number_field(:price_per_night, in: 1.0..5000.0, step: 0.5)%>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </p>

  <p>
    <%= f.label :room_type %><br>
    <%= f.radio_button :room_type, "Entire Home" %>
    <%= label :room_type_entire_home, "Entire Home" %>&nbsp;&nbsp
    <%= f.radio_button :room_type, "Private Room" %>
    <%= label :room_type_private_room, "Private Room" %>&nbsp;&nbsp
    <%= f.radio_button :room_type, "Shared Room" %>
    <%= label :room_type_shared_room, "Shared Room" %>
  </p>

  <p>
    <%= f.label :guest_capacity %><br>
    <%= f.number_field(:guest_capacity, in: 1..16) %>
  </p>

  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>

<%end%>

<br>