<div class="index">
  <div class="container">



    <div id="slider"></div></br>

  <p>
    <label for="price">Price range:</label>
    <input type="text" id="price" style="border:0; color:#b9cd6d; font-weight:bold;">
  </p>



 <%= form_tag '', :method => :get, :id => :price_range do %>
  <%= hidden_field_tag :min %>
  <%= hidden_field_tag :max %>
  <%= submit_tag 'Filter' %>
  <% end %> 



<h1>Property Listings</h1>

<div type="button" class="btn btn-default btn-xs btn btn-outline-success"> 
    <%= link_to "Add a new property", new_listing_path %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      
      <!-- Title -->
      <th>Property Title</th>
      <!-- Price per Night -->
      <th>
      <span class="glyphicon glyphicon-usd"></span>
      </th>
      <!-- Guest Capacity -->
      <th>Guest Capacity</th>
      <!-- Room Type -->
      <th>
      <span class="glyphicon glyphicon-home"></span>  
      <span class="glyphicon glyphicon-bed"></span> 
      <span class="glyphicon glyphicon-tent"></span>
      </th>
      
    </tr>
    </thead>

    <% @listings.each do |listing| %>
    <tbody>
    <tr>
      <td><%= listing.title%></td>
      <td><%= listing.price_per_night%></td>
      <td><%= listing.guest_capacity%></td>
      <td><%= listing.room_type%></td>


      <td>
          <%= link_to "Show", listing_path(listing)%>
      </td>
     
      <td>
          <%= link_to "Edit", edit_listing_path(listing)%>
      </td>

      <td>
          <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>

    </tr>
    <%end%>
    </tbody>
  </table>
</div>

  </div>
</div>


