
<div class="#" style="background: #f6f6f6;">
  <div class="space">

<p>
  <strong>Title:</strong>
    <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
    <%= @listing.description %>
</p>

<p>
  <strong>Price per night:</strong>
    <%= @listing.price_per_night %>
</p>

<p>
  <strong>Location:</strong>
    <%= @listing.location %>
</p>

<p>
  <strong>Room type:</strong>
    <%= @listing.room_type %>
</p>


<p>
  <strong>Guest capacity:</strong>
    <%= @listing.guest_capacity %>
</p>

<p>
  <strong>Photos:</strong><br>
  <div class="container">
<% if @listing.photos.any? %>
  <div class="carousel slide" id="screenshot-carousel" data-rise="carousel" style="background: #fff;"><!-- Variable Carousel -->
    <ol class="carousel-indicators">
      <% @listing.photos.each_with_index do |picture, index| %>
        <% if index == 0 %>
          <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
        <% else %>
          <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
        <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @listing.photos.each_with_index do |picture, index| %>

        <% if index == 0 %>
          <div class="item active">
            <%= image_tag picture.url(:list).to_s, class: "img-thumbnail center-block" %>
          </div>
        <% else %>
          <div class="item">
            <%= image_tag picture.url(:list).to_s, class: "img-thumbnail center-block" %>
          </div>
        <% end %> 

      <% end %>
    </div>
    <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div><!-- End Variable Carousel -->
<% else %>
  <p>No picture uploaded yet</p>
<% end %>

</div>
</p>

<p>
  <strong>Host:</strong>
    <%= @listing.user.first_name %>
</p>

<div class="container">
  <%= form_for @reservation do |form| %>
    <%= render partial: '/reservations/form', object: form %>
    <br>
    <div class="submit-field">
      <%= form.submit "Instant book", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>

<br>
<%= link_to "Edit", edit_listing_path(@listing)%>
<%= link_to "Delete", listing_path(@listing), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to "Back", listings_path%>

</div>
</div>









