<p>
  <strong>Title:</strong>
    <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
    <%= @listing.description %>
</p>

<p>
  <strong>Price per night:</strong>
    <%= @listing.price_per_night %>
</p>

<p>
  <strong>Location:</strong>
    <%= @listing.location %>
</p>

<p>
  <strong>Guest capacity:</strong>
    <%= @listing.guest_capacity %>
</p>
