<p>
  <strong>Title:</strong>
    <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
    <%= @listing.description %>
</p>

<p>
  <strong>Price per night:</strong>
    <%= @listing.price_per_night %>
</p>

<p>
  <strong>Location:</strong>
    <%= @listing.location %>
</p>

<p>
  <strong>Guest capacity:</strong>
    <%= @listing.guest_capacity %>
</p>

<%= link_to "Edit", edit_listing_path(@listing)%>
<%= link_to "Delete", listing_path(@listing), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to "Back", listings_path%>