<div class="text-field">
  <%= form.text_field :first_name, type: 'text', placeholder: "First Name", class: "form-control" %>
</div>

<div class="text-field">
  <%= form.text_field :last_name, type: 'text', placeholder: "Last Name", class: "form-control" %>
</div>

<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "johndoe@domain.com", class: "form-control" %>
</div>

<div class="password-field">
  <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
</div>

<br>
<div class="text-field" style="color: #fff;">
  <%= form.label :birthday %>
  <%= form.date_select :birthday, type: 'date', start_year: 1900, class: "form-control" %>
</div>
<br>