<div class="index">

<%= form_for @user do |form| %>
  
  <div class="row">
    <div class="col-md-2 col-md-offset-5" >
      <%= form.label :photo %><br>
      <%= form.file_field :photo, multiple: false %>
    </div>
  </div>

  <br>
  
  <%= render partial: '/users/form', object: form %>

  <div class="submit-field">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

</div>