<h1>Reservation:</h1>

<p>
  <strong>Check in date:</strong>
    <%= @reservation.check_in %>
</p>

<p>
  <strong>Check out date:</strong>
    <%= @reservation.check_out %>
</p>

<p>
  <strong>Guest:</strong>
    <%= @reservation.guest %>
</p>

<p>
  <strong>Room type:</strong>
    <%= @reservation.room_type %>
</p>

<p>
  <strong>Reserved by:</strong>
    <%= @reservation.user.first_name %>
</p>

<p>
  <strong>Host:</strong>
    <%= @reservation.listing.user.first_name %>
</p>